@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Work+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;900&family=Roboto+Slab:wght@600&family=Work+Sans:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
   text-decoration: none;
}

body {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    padding: 1rem;
    background-image: linear-gradient(to right, black, rgb(8, 1, 34));
 
}

 h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 25px;
    color: white;
}

h2 {
   color: white;
}

 .botao {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: aliceblue;
    opacity: 0.9;
    margin: 3px;
 }

 button:hover {
    opacity: 1;
 }

 .boxes-contas {
   display: flex;
   justify-content: center;
 }
 
 .calculadora {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    margin: 5px;
    background-image:linear-gradient(to bottom, rgb(17, 17, 17), rgb(8, 8, 8));
    width: 280px;
    height: 410px;
    border-radius: 20px;
    border: 1px solid;
    border-color:#007bff59
 }

 #resultado {
    background-color: rgb(233, 233, 233);
    width: 222px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    font-size:25px;
    color: black;
    text-align: right;
    overflow :  hidden;
 }

 .anotacoes {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    margin: 5px;
    background-image:linear-gradient(to bottom, rgb(17, 17, 17), rgb(8, 8, 8));
    width: 380px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid;
    border-color:#007bff59;
    padding: 20px;
 }

 .texto-contas {
   border-radius: 10px;
   width: 300px;
   height: 450px;
   padding: 20px;
   margin: 20px;
 }

 .botao-voltar{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
   background-color: rgb(36, 36, 36);
   color: white;
   width: 250px;
   height: 40px;
   border-radius: 30px;
}

.contas {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}